* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    min-height: 300px;
}

footer {
    background: #333;
    min-height: 200px;
}

header nav ul {
    display: flex;

}

button {
    border-radius: 30px;
    padding: 5px 20px;
}