* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav ul { 
    display: flex;
}

footer {
    display: flex;
}

.container {
    color: red;
}


nav ul li {
    color: black;
}

.container a {
    font-size: 32px;

}